<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet" />
    <title>Reset Password Confirmation</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h1 class="text-center mt-5">Reset Password</h1>
          <form
            action="http://192.168.18.7:5000/api/user/reset/email"
            action="http://localhost:5000/api/user/reset/email"
            method="POST"
            class="mt-4">
            <input
              type="hidden"
              name="token" />
            <input
              type="hidden"
              name="email" />
            <div class="form-group">
              <label for="emailDisplay">Email:</label>
              <input
                type="email"
                id="emailDisplay"
                class="form-control"
                disabled />
            </div>
            <div class="form-group">
              <label for="password">New Password:</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                required />
            </div>
            <button
              type="submit"
              class="btn btn-primary btn-block">
              Reset Password
            </button>
          </form>
        </div>
      </div>
    </div>
    <script>
      // Get token and email from query parameters
      const urlParams = new URLSearchParams(window.location.search);
      const token = urlParams.get('token');
      const email = urlParams.get('email');

      // Set token and email to hidden inputs
      document.querySelector('input[name="token"]').value = token;
      document.querySelector('input[name="email"]').value = email;

      // Set email to the display input
      document.getElementById('emailDisplay').value = email;

      // local host
      // action="http://localhost:5000/api/user/reset/email"
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
